.container {
    display: flex;
    justify-content: center;
    width: 65%;
    flex-direction: column;
    align-items: center;
  

  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }